.single-list {
  .swiper {
    width: 100%;
    height: 50vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .share-icon {
    top: 93px;
    z-index: 1;
    right: 69px;
    position: fixed;
  }
  .share-badge {
    top: 130px;
    z-index: 1;
    right: 69px;
    position: fixed;
  }
}
